.header {
    text-align: center;
}

.custom-btn-toolbar {
    display: inline !important;
}

.custom-btn-toolbar > .btn {
    margin-right: 1rem;
}

.category-card {
    width: 8rem;
    height: 8rem;
    margin-top: 15px;
}

.category-image {
    border-bottom: black;
    border-width: medium;
}

.category-card-body-title.card-title.h5 {

    font-size: 12px;
    font-weight: bold;
}

.category-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 15px;
    flex-wrap: wrap;
    padding: 0 25px 0 25px;
}
html{
    background-color: #fafafa;
    direction:rtl
}







