.header {
    text-align: center;
}

.custom-btn-toolbar {
    display: inline !important;
}

.custom-btn-toolbar > .btn {
    margin-right: 1rem;
}

.category-card {
    width: 8rem;
    height: 8rem;
    margin-top: 15px;
}

.category-image {
    border-bottom: black;
    border-width: medium;
}

.category-card-body-title.card-title.h5 {

    font-size: 12px;
    font-weight: bold;
}

.item-sticky {
    position: sticky;
    top: 6rem;
}

.item-sticky2 {
    position: sticky;
    top: 8rem;
}

.body-container {
    padding: 25px;
}

.category-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 15px;
    flex-wrap: wrap;

}

html {
    background-color: #fafafa;
    direction: rtl
}

.font-face-is {
    font-family: "IRANSansWeb_Medium";
    font-size: 14px;
    color: rgb(163, 163, 163);
}

.font-face-is:hover {
    background-color: azure;
    border-radius: 5px;
}

.font-face-md {
    font-family: "IRANSansWeb_Medium";
}






